@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
 
 
}

#myCanvas {
  background-image: url("https://media1.tenor.com/m/QCZVRurZoKsAAAAC/feliz-noche.gif");
  background-size: cover;
  
 
}

h1{
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
}

